@import "./Homelight.scss";




 
.home {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  //background: $fond1;
  transition: 1s;
}


.boutonhome {
  position: relative;
  padding: 1vw;
  background: $fond1;
  border-radius: 20px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2vw;
  transition: color 2s;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

.boutonhomeanim {
  position: relative;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  padding: 4px;
  background: $fond1;
  border-radius: 20px;
  overflow: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
  transition: 0.5s;
  box-shadow: 0 0 20px $bdx, 0 0 50px $bdx;

  &:before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(rgba(255, 255, 255, 0.8), transparent, transparent, transparent);
    animation: animate2 8s linear infinite;
    animation-delay: -4s;
    opacity: 0;
    transition: 3s;
  }

  &:after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(rgba(255, 255, 255, 0.8), transparent, transparent, transparent);
    animation: animate2 8s linear infinite;
    opacity: 0;
    transition: 3s;
  }
}
.boutonhomeanim:hover::before,
.boutonhomeanim:hover::after {
  opacity: 1;
}

.boutonhomeanim:hover .boutonhome {
  color: #fff;
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.btn1 {
  opacity: 1;
  visibility: visible;
}

.btn2 {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transition-property: opacity, visibility;
}

.invisible {
  opacity: 0;
  visibility: hidden;
  transition-delay: 1.25s;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 1.5s;
}

/* C O M P A R T I M E N T  
        -  
        E S P A C E*/

.coach {
  //background: red;
  min-height: 100vh;
  width: 31%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.bloc1 {
  position: relative;
  padding: 20px;
}
.barreCG {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 26vw;
  height: 3px;
  background: $bdx;
  transform-origin: right;
  transform: rotate(180deg);
  transition: 0s, width 0.75s, height 0s;
  transition-delay: 0s, 1s, 0s;
  box-shadow: 0 0 20px $bdx, 0 0 50px $bdx;
}

.barreHG {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 30vw;
  height: 3px;
  background: $bdx;
  transform-origin: right;
  transform: rotate(210deg);
  transition: 0s, width 0.75s, height 0s;
  transition-delay: 0s, 2.25s, 0s;
  box-shadow: 0 0 20px $bdx, 0 0 50px $bdx;
}

.barreBG {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 30vw;
  height: 3px;
  background: $bdx;
  transform-origin: right;
  transform: rotate(152deg);
  transition: 0s, width 0.75s, height 0s;
  transition-delay: 0s, 2.25s, 0s;
  box-shadow: 0 0 20px $bdx, 0 0 50px $bdx;
}

/* C O M P A R T I M E N T  
        -  
        E S P A C E*/
.profil {
  min-height: 100vh;
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profil .box {
  position: relative;
  width: 20vw;
  height: 20vw;
  // width: 300px;
  // height: 300px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0s, box-shadow 3s;
}

.profil .box:hover {
  box-shadow: 0 0 20px $bdx, 0 0 50px $bdx, 0 0 70px $bdx, 0 0 90px $bdx;
}

.profil .box::before {
  content: "";
  position: absolute;
  inset: -50px 60px;
  background: linear-gradient(20deg, #111, $bdx, $bdx, #111);
  animation: animate 8s linear infinite;
  box-shadow: 0 0 20px $bdx, 0 0 40px $bdx;
  transition: 0s, inset 2s;
  z-index: 1;
}

.profil .box:hover::before {
  inset: -10px -10px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box .content {
  position: absolute;
  inset: 8px;
  border-radius: 50%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.box .content::after {
  content: "";
  position: absolute;
  inset: 8px;
  background: $fond1;
  background-image: url(../../Media/logo-st-v6.png);
  //background-size: 175px 175px;
  background-size: 12vw 12vw;
  background-repeat: no-repeat;
  background-position: 50% 70%;
  border-radius: 50%;
  transition: 0.5s;
  z-index: -1;
}

.box .content h2 {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 1.5vw;
}

.box .content span {
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 0.8em;
  transition: letter-spacing 0.5s;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  font-size: 1vw;
}

.box .content span:hover {
  font-weight: 600;
  letter-spacing: 0.2em;
  transition: 0.5s;
}

/* C O M P A R T I M E N T  
        -  
        E S P A C E*/
.popuphome {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 100;
  border-radius: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.1em;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.popuphome span {
  padding: 10px;
  margin-top: 10px;
  background: black;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}

.popuphome span:hover {
  font-weight: 600;
  background: $bdx;
}

/* C O M P A R T I M E N T  
        -  
        E S P A C E*/
.devweb {
  //background: blue;
  min-height: 100vh;
  width: 31%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.barreCD {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 26vw;
  height: 3px;
  background: $bdx;
  transition: 0s, width 0.75s, height 0s;
  transform-origin: left;
  transform: rotate(180deg);
  transition-delay: 0s, 1s, 0s;
  box-shadow: 0 0 20px $bdx, 0 0 50px $bdx;
}

.barreHD {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 30vw;
  height: 3px;
  background: $bdx;
  transform-origin: left;
  transform: rotate(150deg);
  transition: 0s, width 0.75s, height 0s;
  transition-delay: 0s, 2.25s, 0s;
  box-shadow: 0 0 20px $bdx, 0 0 50px $bdx;
}

.barreBD {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 30vw;
  height: 3px;
  background: $bdx;
  transition: 0s, width 0.75s, height 0s;
  transform-origin: left;
  transform: rotate(210deg);
  transition-delay: 0s, 2.25s, 0s;
  box-shadow: 0 0 20px $bdx, 0 0 50px $bdx;
}

.barreG1 {
  height: 3px;
  width: 0px;
  transition-delay: 0s;
}

@import "./Homeecran.scss";