body.modelight {
    .bloc1_profil_dev {
        box-shadow: 0 0 10px $blue;

        .imgcontent {
            &::before {
                border-top: solid 4px rgba($color: #000000, $alpha: 0.5);
                border-right: solid 4px rgba($color: #000000, $alpha: 0.5);
            }
            &::after {
                border-bottom: solid 4px rgba($color: #000000, $alpha: 0.5);
                border-left: solid 4px rgba($color: #000000, $alpha: 0.5);
            }
            &:hover {
                &::before {
                    border-top: solid 4px rgba($color: #000000, $alpha: 1);
                    border-right: solid 4px rgba($color: #000000, $alpha: 1);
                    box-shadow: 12px -12px 20px $blue;
                }
                &::after {
                    border-bottom: solid 4px rgba($color: #000000, $alpha: 1);
                    border-left: solid 4px rgba($color: #000000, $alpha: 1);
                    box-shadow: -12px 12px 20px $blue;
                }
            }
            h3 {
                color: $blue;
                text-shadow: 0 0 10px $blue, 0 0 20px $blue;
            }
        }

        .idcontent {
            .Vcard {
                background: url(../../Media/Vcard2.png);
                background-size: 4vw 4vw;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }

            ul {
                color: rgba($color: #000000, $alpha: 0.5);
                li {
                    &:hover {
                        color: rgba($color: #000000, $alpha: 1);
                    }
                }
            }
        }

        .idsocial {
            a {
                color: $fond1;
                border: solid 2px $fond1;

                &::before {
                    background: $fond1;
                }
                &:hover {
                    color: $fond2;
                    &::before {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    .bloc3_profil_dev {
        box-shadow: 0 0 10px $blue;
    }

    .languagesFrameworks {
        font-size: 1vw;
        color: rgba($color: #000000, $alpha: 0.6);
    }

    .bloc3_profil_dev .languagesFrameworks h3 {
        color: $blue;
    }

    .bloc3_profil_dev .languagesFrameworks .years {
        font-size: 0.8em;
        color: rgba($color: #000000, $alpha: 1);
    }

    .bloc3_profil_dev .languagesFrameworks .years span {
        &:nth-child(2)::before,
        &:nth-child(3)::before {
            content: "";
            background: rgba($color: #000000, $alpha: 0.5);
            width: 2px;
        }
    }

    .bloc3_profil_dev .languagesFrameworks .languageList {
        li {
            color: rgba($color: #000000, $alpha: 0.6);
        }
        .progressBar {
            &::before {
                background: rgba($color: #000000, $alpha: 0.1);
            }

            &::after {
                background: rgba($color: #000000, $alpha: 0.6);
            }
        }
    }

    .bloc3_profil_dev .languagesFrameworks .languageList li:hover {
        color: rgba($color: #000000, $alpha: 1);

        & + .progressBar::after {
            background: rgba($color: #000000, $alpha: 1);
        }
    }

    .bloc4_profil_dev {
        box-shadow: 0 0 10px $blue;

        h3 {
            color: $blue;
        }

        ul {
            font-size: 0.7vw;
            color: rgba($color: #000000, $alpha: 0.7);
        }
    }

    @media screen and (max-width: 900px) {
        .bloc1_profil_dev {
            .idcontent {
                .Vcard {
                    height: 12vw;
                    width: 12vw;
                    background: url(../../Media/Vcard2.png);
                    background-size: 12vw 12vw;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    margin-top: 0.8vw;
                    transition: 1s;
                    z-index: 2;
                }
            }
        }

        .languagesFrameworks {
            font-size: 3vw;
        }

        .bloc3_profil_dev .languagesFrameworks .years {
            font-size: 0.7em;
        }

        .bloc4_profil_dev {
            ul {
                font-size: 2vw;
                color: rgba($color: #000000, $alpha: 0.7);
            }
        }
    }
}
