@media screen and (min-width: 900px) {
    .global_profil_dev {
        padding-top: 80px;
        padding-bottom: 20px;
        display: flex;

        .bloc1_profil_dev {
            box-shadow: 0 0 10px $bdx;
            height: 85vh;
            min-height: 500px;
            width: 25vw;
            min-width: 100px;
            margin: 30px 15px 0px 25px;
            /* haut | droit | bas | gauche */
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding: 10px;
            border-radius: 10px;

            .imgcontent {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 20px;
                margin-top: 20px;

                &::before {
                    content: "";
                    position: absolute;
                    top: -2vw;
                    right: -2vw;
                    height: 3vw;
                    width: 3vw;
                    border-top: solid 4px rgba($color: #ffffff, $alpha: 0.3);
                    border-right: solid 4px rgba($color: #ffffff, $alpha: 0.3);
                    transition: 0s, 1s, 1s;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -2vw;
                    left: -2vw;
                    height: 3vw;
                    width: 3vw;
                    border-bottom: solid 4px rgba($color: #ffffff, $alpha: 0.3);
                    border-left: solid 4px rgba($color: #ffffff, $alpha: 0.3);
                    transition: 0s, height 1s, width 1s, box-shadow 0s;
                }
                &:hover {
                    &::before {
                        height: 17vw;
                        width: 16vw;
                        transition: 0s, height 1s, width 1s, box-shadow 2.5s;
                        box-shadow: 12px -12px 20px $bdx;
                        border-top: solid 4px rgba($color: #ffffff, $alpha: 0.6);
                        border-right: solid 4px rgba($color: #ffffff, $alpha: 0.6);
                    }
                    &::after {
                        height: 17vw;
                        width: 16vw;
                        transition: 0s, height 1s, width 1s, box-shadow 2.5s;
                        box-shadow: -12px 12px 20px $bdx;
                        border-bottom: solid 4px rgba($color: #ffffff, $alpha: 0.6);
                        border-left: solid 4px rgba($color: #ffffff, $alpha: 0.6);
                    }
                }

                h3 {
                    position: relative;
                    text-transform: uppercase;
                    color: $bdx;
                    margin-top: 20px;
                    letter-spacing: 0.12vw;
                    text-shadow: 0 0 20px $bdx, 0 0 30px $bdx;
                    font-size: 1vw;
                }
            }

            .idcontent {
                position: relative;
                height: 20vh;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .Vcard {
                    height: 5vw;
                    width: 5vw;
                    background: url(../../Media/Vcard.png);
                    background-size: 4vw 4vw;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    margin-top: 0.8vw;
                    transition: 1s;
                    z-index: 10;

                    &:hover {
                        transform: scale(3);
                    }
                }

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-direction: column;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 0.8vw;
                    line-height: 2em;
                    letter-spacing: 0.1vw;
                    color: rgba($color: #ffffff, $alpha: 0.3);

                    .phone {
                        font-size: 1vw;
                    }
                    li {
                        transition: 0.5s;
                        cursor: pointer;
                        &:hover {
                            color: rgba($color: #ffffff, $alpha: 1);
                            transition: 1s;
                            letter-spacing: 0.15vw;
                        }
                    }
                }
            }

            .idsocial {
                display: flex;

                a {
                    position: relative;
                    width: 3vw;
                    height: 3vw;
                    border-radius: 50%;
                    margin: 0 0.7vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3vw;
                    color: $fond2;
                    border: solid 2px $fond2;
                    transition: 0.5s;
                    .fa {
                        z-index: 1;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        width: 3vw;
                        height: 3vw;
                        background: $fond2;
                        border-radius: 50%;
                        transform: scale(0);
                        transition: 0.5s;
                    }
                    &:hover {
                        color: $fond1;
                        &::before {
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        .bloc1_profil_dev .imgcontent img {
            height: 11vw;
            width: 10vw;
            border-radius: 50%;
        }

        .bloc2_profil_dev {
            width: 100%;
            margin: 30px 25px 0px 15px;
            height: 85vh;
            min-height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .bloc3_profil_dev {
            overflow: hidden;
            width: 100%;
            height: 68vh;
            box-shadow: 0 0 10px $bdx;
            padding: 0vw 1vw 1vw 1vw;
        }

        .languagesFrameworks {
            height: 75vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-area: "1" "2" "3" "4";
            font-weight: 600;
            letter-spacing: 0.1vw;
            font-size: 1vw;
            color: rgba($color: #ffffff, $alpha: 0.3);
        }

        .bloc3_profil_dev .languagesFrameworks .languageFront {
            grid-area: 1;
        }

        .bloc3_profil_dev .languagesFrameworks .languageBack {
            grid-area: 2;
        }

        .bloc3_profil_dev .languagesFrameworks .frameworks {
            grid-area: 3;
        }

        .bloc3_profil_dev .languagesFrameworks .otherskill {
            grid-area: 4;
            ul {
                margin-top: 0.8vw;
                display: flex;
                justify-content: space-between;
                width: 50%;
                letter-spacing: 0.15vw;
                text-transform: uppercase;
            }
        }

        .bloc3_profil_dev .languagesFrameworks h3 {
            color: $bdx;
            margin-left: 1.5vw;
            font-size: 1.1vw;
            margin-top: 1.2vw;
            text-transform: uppercase;
            letter-spacing: 0.1vw;
        }

        .bloc3_profil_dev .languagesFrameworks .years {
            font-size: 0.8em;
            display: flex;
            justify-content: space-between;
            color: rgba($color: #ffffff, $alpha: 0.7);
            margin-bottom: 0.5vw;
        }

        .bloc3_profil_dev .languagesFrameworks .years span {
            width: 36%;

            &:nth-child(2) {
                text-align: right;
                margin-right: 7.9vw;
                width: 20%;
            }

            &:nth-child(3) {
                text-align: right;
                width: 44%;
            }

            &:nth-child(2)::before,
            &:nth-child(3)::before {
                content: "";
                background: rgba($color: #ffffff, $alpha: 0.3);
                position: absolute;
                height: 5.5vw;
                width: 1px;
                transform: translate(3px, 19px);
            }
        }

        .bloc3_profil_dev .languagesFrameworks .languageList {
            padding-top: 0.5vw;
            li {
                color: rgba($color: #ffffff, $alpha: 0.3);
            }
            .progressBar {
                margin-top: 0.2rem;
                position: relative;
                width: 74vw;

                &::before {
                    content: "";
                    position: absolute;
                    background: rgba($color: #ffffff, $alpha: 0.1);
                    border-radius: 50px;
                    height: 0.4vw;
                    width: 76vw;
                }

                @media screen and (max-width: 1100px) {
                    &::before {
                        width: 71vw;
                    }
                }
                @media screen and (min-width: 1100px) and (max-width: 1300px) {
                    &::before {
                        width: 72vw;
                    }
                }
                @media screen and (min-width: 1300px) and (max-width: 1500px) {
                    &::before {
                        width: 73vw;
                    }
                }
                @media screen and (min-width: 1500px) and (max-width: 1900px) {
                    &::before {
                        width: 74vw;
                    }
                }
                @media screen and (min-width: 1900px) and (max-width: 2400px) {
                    &::before {
                        width: 75vw;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    background: rgba($color: #ffffff, $alpha: 0.3);
                    border-radius: 50px;
                    height: 0.4vw;
                    width: 0;
                    animation: line 2s ease-out forwards;

                    @keyframes line {
                        to {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .bloc3_profil_dev .languagesFrameworks .languageList li:hover {
            color: rgba($color: #ffffff, $alpha: 0.7);

            & + .progressBar::after {
                background: rgba($color: #ffffff, $alpha: 0.7);
            }
        }

        .bloc4_profil_dev {
            width: 100%;
            height: 14vh;
            box-shadow: 0 0 10px $bdx;
            padding: 0vw 1vw 1vw 1vw;

            h3 {
                color: $bdx;
                margin-left: 1.5vw;
                font-size: 1.1vw;
                margin-top: 1.2vw;
                text-transform: uppercase;
                letter-spacing: 0.1vw;
            }

            ul {
                margin-top: 0.5vw;
                font-weight: 600;
                letter-spacing: 0.1vw;
                font-size: 0.7vw;
                color: rgba($color: #ffffff, $alpha: 0.3);
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 50%;
                letter-spacing: 0.15vw;
                text-transform: uppercase;
            }

            li {
                width: 10vw;
                height: 2vw;
            }
        }
    }
}

@import "./profil_devlight.scss";
@media screen and (max-width: 900px) {
    @import "./profil_dev_ecran.scss";
}
